<!DOCTYPE HTML>
<!--
	Template: Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%=@mood.capitalize%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="shortcut icon" href="images/music-iconn.jpg" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>
							<article id="<%=@mood.capitalize%>">
								<h2 class="major"><%=@mood%></h2>
								<iframe width="560" height="315" src="<%=@artist%>" frameborder="0" allowfullscreen></iframe>
								<p><%=@description%></p>
								<form action="/results" method="POST">
  										<input type="hidden" value="<%=@mood%>" name="mood" id="mood_pg_buttons" />
        									<button type="submit">Refresh</button>
        						</form>
        						<form action="/" method="get">
        								<input type="submit" value="Home" name="home" id="mood_pg_buttons" />
      							</form>
							</article>
	</body>
</html>
